
{% extends "layout.html" %}

{% block title %}
    StocksApi
{% endblock %}

{% block styles %}
<style>
    
</style>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}

{% if (message | length) > 0 %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endif %}

<!-- Search card -->
<div class="row">
    <div class="col">
        <div class="card">

            <div class="card-body mt-0">
				<form name="ticker_form" action="/ticker" method="post" onsubmit="return formValidation()">

                    <div class="row">
                        <div class="col-sm-6 mt-0">
                            <label class="form-label">Compañía</label>
                            <input id="company" name="company" type="text" placeholder="Ej: Apple" class="form-control">
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Símbolo</label>
                            <input id="symbol" name="symbol" type="text" placeholder="Ej: AAPL" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary mt-3">SEARCH</button>
                    </div>
                        
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

<script>
    function formValidation() {
        let company = document.forms["ticker_form"]["company"].value;
        let symbol = document.forms["ticker_form"]["symbol"].value;
        if (company == "" & symbol == "") {
            alert("Debes especificar el nombre de la empresa o su símbolo.");
            return false;
        }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('footer').classList.add('navbar-footer-bottom');
    });
</script>

{% endblock %}